---
import Header from '../components/Header.astro';
import PricingSection from '../components/service-pricing/PricingSection.astro';
import Layout from '../layouts/Layout.astro';
import BookButtonGroup from '../components/buttons/BookingButtonGroup.astro';
import Footer from '../components/Footer.astro';
import HomeButton from '../components/buttons/HomeButton.astro';

const title = "Hair, Nail, & Waxing Services in Carmel, IN | Glow Salon & Spa";
const description = "View our full menu of salon services, including haircuts, highlights, balayage, keratin treatments, manicures, pedicures, and waxing. Serving Carmel, Indiana.";

const hair_services = [
    { serviceName: "Women's Short Haircut & Blow-dry", price: '$55' },
    { serviceName: "Women's Long Haircut & Blow-dry", price: '$65'},
    { serviceName: "Men's Haircut", price: '$35' },
    { serviceName: "Children's Haircut (12 and under)", price: '$30' },
    { serviceName: "Shampoo & Style, Short Hair", price: '$35' },
    { serviceName: "Shampoo & Style, Medium Hair", price: '$45' },
    { serviceName: "Shampoo & Style, Long Hair", price: '$55' },
    { serviceName: "Updo", price: '$60' },
    { serviceName: "Bridal Updo", price: 'Priced upon consultation' },
    { serviceName: "Micro-Link Hair Extensions", price: 'Priced upon consultation' },
    { serviceName: "Full Highlight w/Blow-dry", price: 'Starting at $140' },
    { serviceName: "Partial Highlight w/Blow-dry", price: 'Starting at $125' },
    { serviceName: "Full Highlight w/Haircut", price: 'Starting at $160' },
    { serviceName: "Partial Highlight w/Haircut", price: 'Starting at $145' },
    { serviceName: "New Growth Touch-up w/Blow-dry", price: '$100' },
    { serviceName: "New Growth Touch-up w/Haircut", price: '$130' },
    { serviceName: "Dimensional Color w/Blow-dry", price: 'Starting at $130' },
    { serviceName: "Dimensional Color w/Haircut", price: 'Starting at $150' },
    { serviceName: "Balayage", price: 'Priced upon consultation' },
    { serviceName: "Keratin Smoothing Treatment", description: "*Lasts 3-5 months", price: '$275' },
    { serviceName: "Keratin Smoothing Treatment (Express)", description: "*Lasts 4-6 weeks", price: '$150' },
    { serviceName: "Chemical Straightening & Retexturizing", price: 'Priced upon consultation' },
    { serviceName: "Permanent Wave", price: '$120' }
]

const nail_services = [
    { serviceName: "Manicure", price: "$27" },
    { serviceName: "Gel Manicure", price: "$45" },
    { serviceName: "Dip Manicure", price: "$55" },
    { serviceName: "Spa Pedicure", price: "$60" },
    { serviceName: "Classic Pedicure", price: "$50" }
]

const waxing_makeup = [
    { serviceName: "Brow Wax", price: "$15" },
    { serviceName: "Lip Wax", price: "$10" },
    { serviceName: "Makeup Application", price: "$50" }
]
---

<Layout title={title} description={description}>
    <main>
        <Header />
        <HomeButton />

        <div class="button-group-top">
            <BookButtonGroup />
        </div>

        <h2 id="hair">Hair</h2>
        {hair_services.map((service) => (
            <PricingSection serviceName={service.serviceName} price={service.price} description={service.description}/>
        ))}

        <div class="button-group">
            <BookButtonGroup />
        </div>

        <h2 id="nails">Nails</h2></h2>
        {nail_services.map((service) => (
            <PricingSection serviceName={service.serviceName} price={service.price} />
        ))}

        <div class="button-group">
            <BookButtonGroup />
        </div>

        <h2 id="waxing">Waxing & Makeup</h2>
        {waxing_makeup.map((service) => (
            <PricingSection serviceName={service.serviceName} price={service.price} />
        ))}

        <div class="button-group">
            <BookButtonGroup />
        </div>

        <Footer />

    </main>
</Layout>

<style>
    html {
        scroll-behavior: smooth;
    }

    .button-group-top {
        margin-top: 100px;
    }

    .button-group {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    h2 {
        display: flex;
        font-family: 'Safira March';
        color: #333333;
        font-weight: 700;
        text-align: left;
        padding-left: 10px;
        padding-bottom: 0px;
        margin-bottom: 0;
        font-size: 2.0rem;
  }

  @media (max-width: 769px) {
    h2 {
      font-size: 2.0rem;
    }
  }
</style>